/********** Template CSS **********/
:root {
    --primary: #FD5D14;
    --secondary: #FDBE33;
    --light: #F4F6F8;
    --dark: #040F28;
}

.pt-6 {
    padding-top: 90px;
}

.pb-6 {
    padding-bottom: 90px;
}

.py-6 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.btn {
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    transition: .5s;
}

.btn::after {
    background: var(--primary);
    transition: .5s;
}

.btn.btn-primary::after {
    background: var(--dark);
}

.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    left: 50%;
    bottom: 0;
    margin-left: -22px;
    border-radius: 0;
    z-index: 99;
}

.bg-dark-radial {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.bg-light-radial {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    padding: 35px 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--light);
    outline: none;
    transition: .5s;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(4, 15, 40, .7);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h4 {
        font-size: 18px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.page-header {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(4, 15, 40, .7), rgba(4, 15, 40, .7)), url(../images/banner.jpg) center center no-repeat;
    background-size: cover;
    margin-top: 96px;
}

.service-item .service-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid #FD5D14;
    margin: 50px 0;
}

.service-item .service-icon i {
    transition: .2s;
}

.service-item:hover .service-icon i {
    font-size: 60px;
}

.portfolio-item {
    margin-bottom: 60px;
}

.portfolio-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    padding: 0 30px;
    right: 30px;
    left: 30px;
    bottom: -60px;
    background: #FFFFFF;
    z-index: 3;
}

.portfolio-btn {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    font-size: 120px;
    line-height: 0;
    transition: .1s;
    transition-delay: .3s;
    z-index: 2;
    opacity: 0;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
}

.portfolio-box::before,
.portfolio-box::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    transition: .5s;
    z-index: 1;
    background: rgba(4, 15, 40, .7);
}

.portfolio-box::before {
    left: 0;
}

.portfolio-box::after {
    right: 0;
}

.portfolio-item:hover .portfolio-box::before {
    left: 0;
    width: 50%;
}

.portfolio-item:hover .portfolio-box::after {
    right: 0;
    width: 50%;
}

@media (min-width: 992px) {
    
    .contact-form {
        margin-left: -90px;
    }
}


.footer-shape::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 100%;
    top: 0;
    left: -40px;
    background: var(--primary);
    transform: skew(40deg);
}
.topbar{
    color: #040F28;
}
.topbar i{
    color: #FD5D14;
    font-size: 18px;
    font-weight: bold;
}
.navbar-brand h1 i{
  display: inline-block;
}
.navbar-brand h1 .logoTxt{
display: inline-block;
    font-size: 30px;
}
.navbar-brand .logoTxt span{
  display: block;
  font-size: 19px;
  color: #FD5D14;
}
.herobanner{
    width: 100%;
    margin-top: 96px;
}
.herobanner img{
    height: calc(100vh - 96px);
    width: 100%;
}
.sec-features {
  background: #040F28;
  overflow: hidden; 
  padding: 4rem 0;
}
  .sec-features .feature [class^="fas fa-"] {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 30px;
    font-size: 30px;
    position: relative;
    margin-bottom: 20px; }
    .sec-features .feature [class^="fas fa-"]:before {
      color: #fff;
      z-index: 2;
      position: relative; }
    
  .sec-features .feature h3, .sec-features .feature .h3 {
    font-size: 18px;
    font-weight: 400;
    color: #fff; }
  .sec-features .feature p {
    color: rgba(255, 255, 255, 0.7); }
    .sec-features .feature p:last-child {
      margin-bottom: 0; }
      .sec-features .feature{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
.service-item{
    border: 1px solid #FD5D14;
    border-radius: 16px;
}
.contact-info i {
  font-size: 20px;
  float: left;
  width: 44px;
  height: 44px;
  background: #FD5D14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff; }

.contact-info h4, .contact-info .h4 {
  font-size: 18px;
  padding: 0 0 0 60px; }

.contact-info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px; }
  .testimonial{
    text-align: center;
  }
.testimonial img{
max-width: 100px;
text-align: center;
display: inline !important;
margin-bottom: 20px;
border-radius: 100px;
border: 1px solid #040F28;
}
.testimonial-carousel .row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lb-nav a.lb-prev{
    background:url(../images/prev.png) left 48% no-repeat;
}
.lb-nav a.lb-next{
    background:url(../images/next.png) right 48% no-repeat;
}
.lb-cancel{
    background: url(../images/loading.gif) no-repeat;
}
.lb-data .lb-close{
    background: url(../images/close.png) top right no-repeat;
}
.portfolio-box img{

    max-height: 300px;
    width: 100%;
    border-radius: 5px;
}
.whatsapp-floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    transition: transform 0.3s;
    font-size: 32px;
    color: #040F28;
}

@media (max-width: 767px) {
.px-5{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.g-5{
    --bs-gutter-x: 0;
}
   
}
.portfolio-btn i{
    font-size: 32px;
}
/* .navbar-brand i{
    font-size: 36px;
} */