<!-- Testimonial Start -->
    <div class="container-fluid bg-light py-6 px-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="display-5 text-uppercase mb-4">What Our <span class="text-primary">Happy Cleints</span> Say!!!
            </h1>
        </div>
        <div class="row gx-0 align-items-center">
            <div class="col-xl-12 col-lg-7 col-md-12">
                <div class="testimonial bg-light">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="row gx-4">
                            <div class="col-xl-8 col-lg-7 col-md-7">
                                <img src="images/person.png" alt="">
                                <h4 class="text-uppercase mb-0">Ramesh Kumar</h4>
<p>Contractor, Siwan</p>
<p class="fs-5 mb-0">
    <i class="fa fa-2x fa-quote-left text-primary me-2"></i>
    पावरटेक सीमेंट की गुणवत्ता अत्यंत उत्कृष्ट है। इससे किया गया निर्माण मज़बूत, टिकाऊ और लंबे समय तक सुरक्षित रहता है। हम भविष्य में भी इसी सीमेंट का उपयोग करेंगे।
</p>
                            </div>
                        </div>
                        <div class="row gx-4 align-items-center">
                            
                            <div class="col-xl-8 col-lg-7 col-md-7">
                                <img src="images/person.png" alt="">
                                <h4 class="text-uppercase mb-0">Amit Singh</h4>
<p>Builder</p>
<p class="fs-5 mb-0">
    <i class="fa fa-2x fa-quote-left text-primary me-2"></i>
    इस सीमेंट की कार्यक्षमता बहुत अच्छी है तथा इसका उपयोग करना सरल है। समय पर आपूर्ति और उत्तम गुणवत्ता ने हमें पूर्ण संतुष्टि प्रदान की है।
</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>